<div class="about_banner">
  <div class="center">
    <h1>How can we help you?</h1>
    <h3>- edDesk</h3>
  </div>
</div>
<div class="about_text">
  <div class="center_box">
    <h1>ABOUT US</h1>
    <div class="para">
      <p>edDesk is a platform built for our product users. It is a one place stop for all your problems</p>
      <p>If you have any problem, just raise a ticket and track the progress easily. No need to shoot e-mails back and forth anymore.</p>
    </div>
    <br>
    <h2>WE BELIEVE IN KILLING ONE <i class="fa fa-bug fa-lg" aria-hidden="true"></i> AT A TIME</h2>
  </div>  
</div>
<footer>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="center_box">
        <h2>LOCATION</h2>
        <p>ISH BUILDING, HINJEWADI</p>
        <p>PUNE, MAHARASHTRA</p>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="center_box">
        <h2>AROUND THE WEB</h2>
        <ul id="web_icon">
          <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></span></a></li>
          <li id="mid"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-facebook fs-2x" aria-hidden="true"></i></span></a></li>
          <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer_foot">
    <p>Copyright &copy; edDesk 2017</p>
  </div>
</footer>